<div class="container">
<div class="card border mx-auto mt-3 mb-3">
  <div class="card-header"><h4>Messages échangés avec <%= recipient.profile.first_name %></h4></div>
  <div id="card-messages" class="card-body text-primary text-right">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <% if user.id != current_user.id %>
            <div class="text-left border rounded p-2 m-1 alert-warning">
              <em><small><strong><%= user.profile.first_name %></strong>, le <%= message.message_time %></small></em><br>
              <%= message.body %>
            </div>
          <% else %>
            <div class="text-muted border border-light rounded p-2 m-1">
              <em><small><strong><%= user.profile.first_name %></strong>, le <%= message.message_time %></small></em><br>
              <%= message.body %>
            </div>
          <% end %>
        <% end %>
    <% end %>
    </div>

    <%= form_for [@conversation, @message], :remote => true  do |f| %>
      <div class="form-group card-body text-primary">
          <%= f.text_area :body, class: "form-control", placeholder: 'Votre message' %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
          <%= f.submit "Envoyer", class: "btn btn-base-1 btn-shadow btn-circle px-4 mt-2" %>
      </div>
  <% end %>
</div>
</div>
