
  <div class="row">

  <div class="col-md-4 mb-5 mt-5 d-flex justify-content-end">

  <div class="card" style="width: 18rem;">

​

    <div class="profile-picture profile-picture--style-2">

      <img class="img-center" src="/assets/profile-default-f5c989bbbc36d50d0521891a2269fafe977037de0046bfdde6364592ef906526.png">

    </div>

​

<!-- User basics-->

    <div class="block-body text-center mt-5 mx-2">

            <h2 class="heading heading-4 strong-500 profile-name"><%= @profile.first_name.present? ? @profile.first_name : "Inscris ton nom et prénom" %></h2>

            <span class="star-rating star-rating-sm">

              <i class="fa fa-star"></i>

              <i class="fa fa-star"></i>

              <i class="fa fa-star"></i>

              <i class="fa fa-star-o"></i>

              <i class="fa fa-star-o"></i>

            </span>

            <h3 class="heading heading-6 strong-400 profile-occupation mt-3"><%= @profile.description.present? ? @profile.description : "Une petite description pour mieux te connaître !" %></h3>

    </div>

​

<!-- User information-->

​

    <div class="block-body mt-5 text-center">

      <i class="fas fa-map-marked-alt fa-2x"></i>

      <h6 class="card-title mt-2"><%= @profile.street.present? ? @profile.street : "Ajoute ton adresse pour faciliter les échanges" %></h6>
      <h6 class="card-title mt-2"><%= @profile.zip_code.present? ? @profile.zip_code : "" %>
        <%= @profile.city.present? ? @profile.city : "" %></h6>


      <i class="fas fa-at fa-2x mt-3"></i>

      <h6 class="card-title mt-2"><%= @profile.user.email%></h6>

      <i class="fas fa-baby fa-3x mt-3"></i>

      <h6 class="card-title mt-2"><%= 
        if @children.present? 
          children.each do |child|
            child.nickname
        end
        end %>


​
    <div class="block-body text-center mt-5 mb-5">

      <a href="#" class="btn btn-primary">Voir mes messages</a>


​      <%= link_to "Editer mes informations",edit_profile_path, class: "btn btn-secondary mt-2"%>

    </div>
​

    <div class="profile-stats clearfix">

      <div class="stats-entry">

          <span class="stats-count">5</span>

          <span class="stats-label text-uppercase">objets en vente</span>

    </div>

    <div class="stats-entry">

        <span class="stats-count">10</span>

        <span class="stats-label text-uppercase">objets vendus</span>

    </div>

​

      </div>

    </div>

  </div>

​</div>

​

<!-- User Product-->

​

    <div class="col-md-6 mt-5">

​

        <div class="my-3">

          <h3>Mes articles en vente</h3>

        </div>

​

        <div class="row">

          <div class="col-md-4 mt-3">

            <div class="block product no-border z-depth-2--hover">

              <div class="block-image"> <!-- produit déjà dans le panier -->

                <a href="#"></a><a href="/"><img src="/assets/shoes-f88c02feb787aa8d0311d1b4319756e549fe2bf62fd8a9d620cfd59bb17a8da1.jpg"></a>

                <a href="#" class="badge-corner"><span class="fa fa-trash-alt"></span></a>

              </div>

              <div class="block-body px-0 text-center">

                <h3 class="heading heading-6 strong-500 text-capitalize">

                  <a href="#">Chaussures Super Héro</a>

                </h3>

                <div class="price-wrapper">

                  <span class="price heading-6 c-gray-light strong-400"><span class="price-value">500</span> €</span>

                  <p class> 22 Vues</p>

                  <p class> 10 Baby-list</p>

                </div>

              </div>

              <div class="card-footer text-center">

​                 <%= link_to "Editer mes informations",edit_product_path([:id]), class: "btn btn-secondary mt-2"%>

              </div>

            </div>

          </div>

​

          <div class="col-md-4 mt-3">

            <div class="block product no-border z-depth-2--hover">

              <div class="block-image"> <!-- produit déjà dans le panier -->

                <a href="#"></a><a href="/"><img src="/assets/shoes-f88c02feb787aa8d0311d1b4319756e549fe2bf62fd8a9d620cfd59bb17a8da1.jpg"></a>

                <a href="#" class="badge-corner"><span class="fa fa-trash-alt"></span></a>

              </div>

              <div class="block-body px-0 text-center">

                <h3 class="heading heading-6 strong-500 text-capitalize">

                  <a href="#">Chaussures Super Héro</a>

                </h3>

                <div class="price-wrapper">

                  <span class="price heading-6 c-gray-light strong-400"><span class="price-value">500</span> €</span>

                  <p class> 22 Vues</p>

                  <p class> 10 Baby-list</p>

                </div>

              </div>

              <div class="card-footer text-center">

                <a href="#" class="btn btn-secondary mt-2">Editer le produit</a>

              </div>

            </div>

          </div>

​

          <div class="col-md-4 mt-3">

            <div class="block product no-border z-depth-2--hover">

              <div class="block-image"> <!-- produit déjà dans le panier -->

                <a href="#"></a><a href="/"><img src="/assets/shoes-f88c02feb787aa8d0311d1b4319756e549fe2bf62fd8a9d620cfd59bb17a8da1.jpg"></a>

                <a href="#" class="badge-corner"><span class="fa fa-trash-alt"></span></a>

              </div>

              <div class="block-body px-0 text-center">

                <h3 class="heading heading-6 strong-500 text-capitalize">

                  <a href="#">Chaussures Super Héro</a>

                </h3>

                <div class="price-wrapper">

                  <span class="price heading-6 c-gray-light strong-400"><span class="price-value">500</span> €</span>

                  <p class> 22 Vues</p>

                  <p class> 10 Baby-list</p>

                </div>

              </div>

              <div class="card-footer text-center">

                <a href="#" class="btn btn-secondary mt-2">Editer le produit</a>

              </div>

            </div>

          </div>

​

        </div>

      </div>

</div>

