<%= form_tag url_for(action: 'create', controller: 'children'), method: "post" do %>
    <div class="form-group">
        <h5 class="text-primary">Ajouter un enfant</h5>
        <h6 class="text-secondary">Prénom/Surnom *</h6>
        <%= text_field_tag 'nickname', '', class: "form-control mb-3"%>
        <h6 class="text-secondary">Sexe *</h6>
        <%= select_tag 'sex', raw("<option>Fille</option><option>Garçon</option>"),class: "form-control mb-3" %>
        <h6 class="text-secondary">Naissance *</h6>
         <%= date_field_tag 'birthday', '', class: "form-control" %>
        <small class="text-primary">* Champs obligatoires</small></br>
        <%= submit_tag "Ajouter un enfant", class: "btn btn-primary mt-3 mb-3" %>
    </div>
<% end %>
