<div class = "bg-sign">
    <div class= "container">
        <div class="row d-flex justify-content-center align-items-center", style = "height: 800px">
            <div class="col-4", style = "min-width: 300px">
                <div class= "form-control border">

                      <h1 class="h3 mb-3 font-weight-normal text-center text-primary">Modifier <%= resource_name.to_s.humanize %></h1>

                      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin p-2" }) do |f| %>
                        <%= f.error_notification %>

                        <div class="form-group">
                            <%= f.label :email, "Email", class: "text-primary" %>
                            <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                            <% end %>

                            <%= f.label :mot_de_passe, class: "text-primary" %>
                            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                            <em class= "text-primary"><small>leave it blank if you don't want to change it</small></em>

                        </div>


                        <div class="form-group">
                            <%= f.label :mot_de_passe_confirmation, class: "text-primary" %>
                            <%= f.password_field :password_confirmation, required: false, autocomplete: "new-password", class: "form-control" %>
                        </div>

                          <%= f.input :password_confirmation,
                                      required: false,
                                      input_html: { autocomplete: "new-password" } %>
                          <%= f.input :current_password,
                                      hint: "we need your current password to confirm your changes",
                                      required: true,
                                      input_html: { autocomplete: "current-password" } %>
                        </div>

                        <div class="form-actions">
                          <%= f.button :submit, "Update" %>
                        </div>
                      <% end %>

                      <h3>Cancel my account</h3>

                      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                      <%= link_to "Back", :back %>
              </div>
          </div>
      </div>
  </div>
</div>
