
            <div class="col-lg-6">
                <div class="section-title section-title--style-1">
                    <h3 class="section-title-inner heading-6 strong-600 text-uppercase">
                        Commentaires
                    </h3>
                </div>

                <div class="block-post-comments">

                    <!-- Comment List -->

                <% @product.comments.each do |comment| %>

                    <div class="block block-comment">
                        <div class="block-image">
                            <%= image_tag 'profile-default.png', class:"img-circle" %>
                        </div>
                        <div class="block-body">
                            <div class="block-body-inner">
                                <h3 class="heading heading-6">
                                    <a href="/profile"><%=comment.user.profile.first_name%> <%=comment.user.profile.last_name%></a>
                                </h3>
                                <span class="comment-date">
                                    <%= comment.created_at.strftime("le %d/%m/%y à %H:%M") %>
                                </span>
                                <p class="comment-text">
                                    <%=comment.content%>
                                </p>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
