<!-- Bloc Products -->

<section class="slice sct-color-1">
                        <div class="container mt-2">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h3 class="heading heading-6 strong-600 text-uppercase mb-0"> Produits récemment postés </h3>
                                </div>

                            </div>

                            <span class="space-xs-lg"></span>


   <div class="row cols-md-space cols-sm-space cols-xs-space">

        <% @products.first(6).each do |product| %>
            <div class="col-lg-4 mb-3">
                <div class="card z-depth-2-top">
                    <div class="card-image">
                        <div class="view view-first">
                             <% if product.pictures.attached? %>
                               <%= link_to (image_tag product.pictures.first.variant(resize:'400x400'), alt: 'Photo du produit'), product_path(product.id) %>
                             <% else %>
                                <%= link_to (image_tag("shoes.jpg")), product_path(product.id) %>
                             <% end %>
                        </div>
                    </div>

                    <div class="card-body">
                        <h3 class="heading heading-5 strong-500 mb-0">
                            <%= link_to product.title, product_path(product.id)  %>
                        </h3>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <div class="block-author">
                                    <div class="author-image author-image-xs">
                                        <% if product.seller.profile.profil_picture.attached? %>
                                          <%= image_tag product.seller.profile.profil_picture_thumbnail, alt: 'Photo du vendeur' %>
                                        <% else %>
                                           <%= image_tag "profile-default.png" %>
                                        <% end %>

                                    </div>
                                    <div class="author-info">
                                        <div class="author-name">
                                            <%= product.seller.profile.first_name.present? ? product.seller.profile.first_name : " " %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                               <div class="col text-center">
                                <ul class="inline-links inline-links--style-3">
                                   <% if has_notation?(product.seller)%>
                                        <li>
                                         <% average_notation(product.seller).to_i.times do  %>
                                        <span class="text-primary"><i class="fas fa-star"></i></span>
                                        <% end %>
                                        <% (5 - average_notation(product.seller).to_i).times do %>
                                        <span class="text-primary"><i class="far fa-star"></i></span>
                                        <% end %>
                                        
                                        </li>
                                    <%end%>
                                </ul>
                            </div>



                            <div class="col text-right">
                                <ul class="inline-links inline-links--style-2">
                                    <li>
                                        <%= product.price %> €
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

    </div> <!-- fin row -->


    </div>
</section>
