<!-- Bloc Products -->

<section class="slice sct-color-1">
                        <div class="container mt-5">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h3 class="heading heading-6 strong-600 text-uppercase mb-0"> Posts récents </h3>
                                </div>

                                <div class="col-6 text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-styled btn-base-1 btn-circle dropdown-toggle z-depth-2-top" type="button" id="projectFiltersButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Catégorie
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="projectFiltersButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(385px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item" href="#">Toutes les catégories</a>
                                            <a class="dropdown-item" href="#">Soins bébés</a>
                                            <a class="dropdown-item" href="#">Chaises Hautes</a>
                                            <a class="dropdown-item" href="#">Poussettes</a>
                                            <a class="dropdown-item" href="#">Jeux et jouets</a>
                                            <a class="dropdown-item" href="#">Livres et scolarité</a>
                                            <a class="dropdown-item" href="#">Sécurité</a>
                                            <a class="dropdown-item" href="#">Allaitement & Repas</a>
                                            <a class="dropdown-item" href="#">Habillement</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-lg"></span>


   <div class="row cols-md-space cols-sm-space cols-xs-space">

        <% @products.first(6).each do |product| %>
            <div class="col-lg-4 mb-3">
                <div class="card z-depth-2-top">
                    <div class="card-image">
                        <div class="view view-first">
                             <% if product.pictures.attached? %>
                               <%= link_to (image_tag product.pictures.first, alt: 'Photo du produit'), product_path(product.id) %>
                             <% else %>
                                <%= link_to (image_tag("shoes.jpg")), product_path(product.id) %>
                             <% end %>
                        </div>
                    </div>

                    <div class="card-body">
                        <h3 class="heading heading-5 strong-500 mb-0">
                            <%= link_to product.title, product_path(product.id)  %>
                        </h3>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <div class="block-author">
                                    <div class="author-image author-image-xs">
                                        <% if product.seller.profile.profil_picture.attached? %>
                                          <%= link_to (image_tag product.seller.profile.profil_picture, alt: 'Photo du vendeur'), product_path(product.id) %>
                                        <% else %>
                                           <%= link_to (image_tag("profile-default.png")), root_path %>
                                        <% end %>

                                    </div>
                                    <div class="author-info">
                                        <div class="author-name">
                                            <%= product.seller.profile.first_name.present? ? product.seller.profile.first_name : " " %>&nbsp;
                                            <%= product.seller.profile.last_name.present? ? product.seller.profile.last_name : " " %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-right">
                                <ul class="inline-links inline-links--style-2">
                                    <li>
                                        <%= product.price %> €
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

    </div> <!-- fin row -->


    </div>
</section>
