<div class="container">

    <h2>Typography</h2>

    <h3>Headings</h3>

        <h1>h1. Boomerang heading</h1>
        <h2>h2. Boomerang heading</h2>
        <h3>h3. Boomerang heading</h3>
        <h4>h4. Boomerang heading</h4>
        <h5>h5. Boomerang heading</h5>
        <h6>h6. Boomerang heading</h6>

    <h3>Heading classes</h3>
        <h1 class="heading heading-1">h1. Boomerang heading</h1>
        <h2 class="heading heading-2">h2. Boomerang heading</h2>
        <h3 class="heading heading-3">h3. Boomerang heading</h3>
        <h4 class="heading heading-4">h4. Boomerang heading</h4>
        <h5 class="heading heading-5">h5. Boomerang heading</h5>
        <h6 class="heading heading-6">h6. Boomerang heading</h6>

    <h3>Customizing heading </h3>

        <h3 class="heading">
            Fancy display heading
            <small class="text-muted">With faded secondary text</small>
        </h3>

    <h3>Display headings </h3>

        <h1 class="heading display-1">Display 1</h1>
        <h1 class="heading display-2">Display 2</h1>
        <h1 class="heading display-3">Display 3</h1>
        <h1 class="heading display-4">Display 4</h1>

    <h3>Lead</h3>

        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>

    <h3>Inline text elements </h3>

        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
        <p><del>This line of text is meant to be treated as deleted text.</del></p>
        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
        <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
        <p><u>This line of text will render as underlined</u></p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p><strong>This line rendered as bold text.</strong></p>
        <p><em>This line rendered as italicized text.</em></p>


    <h2>Alerts</h2>
        <div class="alert alert-primary" role="alert">
            This is a primary alert—check it out!
        </div>

        <div class="alert alert-secondary" role="alert">
            This is a secondary alert—check it out!
        </div>

        <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
        </div>

        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>

        <div class="alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div>

        <div class="alert alert-info" role="alert">
            This is a info alert—check it out!
        </div>

        <div class="alert alert-light" role="alert">
            This is a light alert—check it out!
        </div>

        <div class="alert alert-dark" role="alert">
            This is a dark alert—check it out!
        </div>

    <h3>Link color </h3>

        <div class="alert alert-primary" role="alert">
            This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>

    <h3>Additional content </h3>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>

    <h3>Dismissable alerts </h3>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
        </div>

    <h2>Badges</h2>

        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>

    <h3>Pill badges</h3>

        <span class="badge badge-pill badge-primary">Primary</span>
        <span class="badge badge-pill badge-secondary">Secondary</span>
        <span class="badge badge-pill badge-success">Success</span>
        <span class="badge badge-pill badge-danger">Danger</span>
        <span class="badge badge-pill badge-warning">Warning</span>
        <span class="badge badge-pill badge-info">Info</span>
        <span class="badge badge-pill badge-light">Light</span>
        <span class="badge badge-pill badge-dark">Dark</span>

    <h3>Links</h3>

        <a href="#" class="badge badge-primary">Primary</a>
        <a href="#" class="badge badge-secondary">Secondary</a>
        <a href="#" class="badge badge-success">Success</a>
        <a href="#" class="badge badge-danger">Danger</a>
        <a href="#" class="badge badge-warning">Warning</a>
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-light">Light</a>
        <a href="#" class="badge badge-dark">Dark</a>

    <h3>size</h3>


        <span class="badge badge-primary">Normal</span>
        <span class="badge badge-md badge-primary">Medium</span>
        <span class="badge badge-lg badge-primary">Large</span>

        <span class="delimiter"></span>

        <span class="badge badge-pill badge-success">Normal</span>
        <span class="badge badge-md badge-pill badge-success">Medium</span>
        <span class="badge badge-lg badge-pill badge-success">Large</span>

    <h3>Inline with text </h3>

        <div class="">
            <span class="badge badge-inline badge-pill bg-base-1">New</span>
            <span>Lorem ipsum dolor sit amet consectetur adipiscing.</span>
        </div>

    <h3>Overlay badges</h3>

        <div class="row">
            <div class="col-md-4">
                <div class="relative">
                    <%= image_tag 'shoes.jpg', class:"img-fluid rounded" %>
                    <span class="block-ribbon block-ribbon-fixed block-ribbon-left bg-blue">Left</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="relative">
                    <%= image_tag 'shoes.jpg', class:"img-fluid rounded" %>
                    <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-green">Right</span>
                </div>
            </div>
        </div>

    <h3>Cornered badges</h3>

        <div class="row">
            <div class="col-md-4">
                <div class="relative">
                    <%= image_tag 'shoes.jpg', class:"img-fluid" %>
                    <a href="#" class="badge-corner">
                        <span class="fa fa-heart"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="relative">
                    <%= image_tag 'shoes.jpg', class:"img-fluid" %>
                    <a href="#" class="badge-corner badge-corner-blue">
                        <span class="fa fa-heart"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="relative">
                    <%= image_tag 'shoes.jpg', class:"img-fluid" %>
                    <a href="#" class="badge-corner badge-corner-green">
                        <span class="fa fa-heart"></span>
                    </a>
                </div>
            </div>
        </div>


    <h2>Buttons</h2>

        <a href="#" class="btn btn-styled btn-base-1">Base color 1</a>
        <a href="#" class="btn btn-styled btn-base-2">Base color 2</a>
        <a href="#" class="btn btn-styled btn-base-3">Base color 3</a>
        <a href="#" class="btn btn-styled btn-base-4">Base color 4</a>
        <a href="#" class="btn btn-styled btn-base-5">Base color 5</a>

        <br><br>

        <button type="button" class="btn btn-styled btn-primary">Primary</button>
        <button type="button" class="btn btn-styled btn-secondary">Secondary</button>
        <button type="button" class="btn btn-styled btn-success">Success</button>
        <button type="button" class="btn btn-styled btn-danger">Danger</button>
        <button type="button" class="btn btn-styled btn-warning">Warning</button>
        <button type="button" class="btn btn-styled btn-info">Info</button>
        <button type="button" class="btn btn-styled btn-light">Light</button>
        <button type="button" class="btn btn-styled btn-dark">Dark</button>

        <br><br>

        <button type="button" class="btn btn-styled btn-link">Link</button>

    <h3>Outline buttons</h3>


        <a href="#" class="btn btn-styled btn-base-1 btn-outline">Base color 1</a>
        <a href="#" class="btn btn-styled btn-base-2 btn-outline">Base color 2</a>
        <a href="#" class="btn btn-styled btn-base-3 btn-outline">Base color 3</a>
        <a href="#" class="btn btn-styled btn-base-4 btn-outline">Base color 4</a>

    <h3>Colors</h3>

        <a href="#" class="btn btn-styled btn-block btn-blue">Blue button</a>
        <a href="#" class="btn btn-styled btn-block btn-teal-blue">Teal Blue button</a>
        <a href="#" class="btn btn-styled btn-block btn-green">Green button</a>
        <a href="#" class="btn btn-styled btn-block btn-red">Red button</a>
        <a href="#" class="btn btn-styled btn-block btn-pink">Pink button</a>
        <a href="#" class="btn btn-styled btn-block btn-orange">Orange button</a>
        <a href="#" class="btn btn-styled btn-block btn-yellow">Yellow button</a>
        <a href="#" class="btn btn-styled btn-block btn-purple">Purple button</a>

    <h3>Sizes</h3>

        <a href="#" class="btn btn-styled btn-xs btn-base-1">Extra sm</a>
        <a href="#" class="btn btn-styled btn-sm btn-base-1">Small</a>
        <a href="#" class="btn btn-styled btn-base-1">Default</a>
        <a href="#" class="btn btn-styled btn-lg btn-base-1">Large</a>
        <a href="#" class="btn btn-styled btn-xl btn-base-1">Extra lg</a>

    <h3>Shapes</h3>

        <a href="#" class="btn btn-styled btn-base-1">Default radius</a>
        <a href="#" class="btn btn-styled btn-base-1 btn-round">Round shape</a>
        <a href="#" class="btn btn-styled btn-base-1 btn-circle">Circle shape</a>
        <a href="#" class="btn btn-styled btn-base-1 btn-square">Square shape</a>

    <h3>Icon buttons</h3>

        <a href="#" class="btn btn-styled btn-base-1 btn-icon-left">
            <i class="fa fa-search"></i> Icon Left
        </a>
        <a href="#" class="btn btn-styled btn-base-1 btn-icon-left">
            <i class="fa fa-search"></i> Icon Left
        </a>

        <a href="#" class="btn btn-styled btn-base-2 btn-icon-right">
            Icon Right <i class="fa fa-search"></i>
        </a>
        <a href="#" class="btn btn-styled btn-base-2 btn-icon-right">
            Icon Right <i class="fa fa-search"></i>
        </a>

    <h3>Fluid buttons</h3>

        <button type="button" class="btn btn-styled btn-primary btn-lg btn-block">Block level button</button>
        <button type="button" class="btn btn-styled btn-secondary btn-lg btn-block">Block level button</button>

    <h2>Cards</h2>

        <div class="row">
            <div class="col-md-4">

                <!-- Default card -->
                <div class="card">
                    <img class="card-img-top" src="path_to_image" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text....</p>
                        <a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Go somewhere</a>
                    </div>
                </div>

                <br>

                <!-- Inverse card -->
                <div class="card card-inverse">
                    <img class="card-img-top" src="path_to_image" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text....</p>
                        <a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Go somewhere</a>
                    </div>
                </div>

            </div>
        </div>

    <h3>body</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p class="mb-0">This is some text within a card body.<p/>
                </div>
            </div>
        </div>
    </div>

    <h3>Titles, text, and links </h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text...</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>

    <h3>Images</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <%= image_tag 'shoes.jpg', class:"card-img-top" %>
                    <div class="card-body">
                        <p class="card-text">Some quick example text...</p>
                    </div>
                </div>
            </div>
        </div>

    <h3>Metadata</h3>

        <div class="row">
            <div class="col-md-4">
            <!-- Top-Left card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="heading heading-5 strong-600">Special title treatment</h5>
                    <h6 class="heading heading-sm strong-400 text-muted mb-4">
                        2 hrs ago
                    </h6>

                    <p class="card-text">With supporting text below...</p>
                    <a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Go somewhere</a>
                </div>
            </div>

            <!-- Top-Right card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="heading heading-5 strong-600">Special title treatment</h5>
                    <ul class="inline-links inline-links--style-3 mb-4">
                        <li>
                            <a href="#"><i class="fa fa-heart"></i> 50</a>
                        </li>
                        <li>
                            <i class="fa fa-eye"></i> 750
                        </li>
                    </ul>

                    <p class="card-text">With supporting text below...</p>
                    <a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Go somewhere</a>
                </div>
            </div>

            <br>

            <!-- Bottom-Left card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="heading heading-5 strong-600">Special title treatment</h5>
                    <h6 class="heading heading-sm strong-400 text-muted mb-4">
                        2 hrs ago
                    </h6>

                    <p class="card-text">With supporting text below...</p>
                </div>
                <div class="card-footer">
                    <div class="row flex flex-items-xs-middle">
                        <div class="col text-right">
                            <div class="block-author">
                                <div class="author-image author-image-xs">
                                    <%= image_tag 'profile-default.png', class:"img-center" %>
                                </div>
                                <div class="author-info">
                                    David Wally
                                </div>
                            </div>
                        </div>

                        <div class="col text-right text-xs-right">
                            <ul class="inline-links inline-links--style-3">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-heart"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-eye"></i> 750
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <!-- Bottom-Right card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="heading heading-5 strong-600">Special title treatment</h5>
                    <ul class="inline-links inline-links--style-3 mb-4">
                        <li>
                            <a href="#"><i class="fa fa-heart"></i> 50</a>
                        </li>
                        <li>
                            <i class="fa fa-eye"></i> 750
                        </li>
                    </ul>

                    <p class="card-text">With supporting text below...</p>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col text-right">
                            <div class="block-author">
                                <div class="author-image author-image-xs">
                                    <%= image_tag 'profile-default.png', class:"img-center" %>
                                </div>
                                <div class="author-info">
                                    David Wally
                                </div>
                            </div>
                        </div>

                        <div class="col text-right text-xs-right">
                            <h6 class="heading heading-sm strong-400 text-muted mb-0">
                                2 hrs ago
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>User card</h2>

    <div class="row">
        <div class="col-md-5">
            <div class="block block--style-3 mx-5">

                <div class="profile-picture profile-picture--style-2">
                    <%= image_tag 'profile-default.png', class:"img-center" %>
                </div>

                <div class="block-body text-center">
                    <h2 class="heading heading-4 strong-500 profile-name">Elisabeth Alanna</h2>
                    <span class="star-rating star-rating-sm">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                    <h3 class="heading heading-6 strong-400 profile-occupation mt-3">Description</h3>

                    <a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Envoyer un message</a>
                </div>
                <!-- Profile stats -->
                <div class="profile-stats clearfix">
                    <div class="stats-entry">
                        <span class="stats-count">5</span>
                        <span class="stats-label text-uppercase">objets en vente</span>
                    </div>
                    <div class="stats-entry">
                        <span class="stats-count">10</span>
                        <span class="stats-label text-uppercase">objets vendus</span>
                    </div>
                </div>
            </div>
        </div> <!-- col -->
    </div> <!-- row -->

    <h2>Product card (show page)</h2>

            <div class="row">

                <div class="col-md-4">
                    <div class="block product no-border z-depth-2--hover">
                        <div class="block-image">
                            <div class="view view-first">
                                <a href="#"><%= link_to (image_tag("shoes.jpg")), root_path %></a>
                                <!-- produit déjà dans le panier -->
                                <a href="#" class="badge-corner"><span class="fa fa-heart"></span></a>
                            </div>
                        </div>
                        <div class="block-body px-0 text-center">
                            <h3 class="heading heading-6 strong-500 text-capitalize">
                                <a href="#">Super chaussures</a>
                            </h3>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400"><span class="price-value">500</span> €</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->



</div>
