 <div class="container">
 	<div class="section-title section-title--style-1 text-center mb-2">
    <h3 class="section-title-center mt-5">
        <span> Rencontrez l'équipe Badaboum !</span>
     </h3>
 </div>

 <div class="row">
    <div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <div class="view view-first">
                <%= image_tag("baby.svg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0">
	            Babass
	        </h3>
	        <p> Il n'est jamais content. </p>
	    </div>
   		</div>
	</div>

	 <div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <div class="view view-first">
                <%= image_tag("baby.svg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0">
	            Claudia
	        </h3>
	        <p> Il n'est jamais content. </p>
	    </div>
   		</div>
	</div>

	 <div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <div class="view view-first">
                <%= image_tag("baby.svg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0">
	            Max
	        </h3>
	        <p> Il n'est jamais content. </p>
	    </div>
   		</div>
	</div>

</div>

<div class="row d-flex justify-content-center">
	<div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <div class="view view-first">
                <%= image_tag("baby.svg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0">
	            Vivi
	        </h3>
	        <p> Il n'est jamais content. </p>
	    </div>
   		</div>
	</div>

	<div class="col-lg-4 mb-5 mt-5 ">
        <div class="card z-depth-2-top ">
            <div class="card-image">
                <div class="view view-first">
                <%= image_tag("baby.svg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0">
	            Mel
	        </h3>
	        <p> Il n'est jamais content. </p>
	    </div>
   		</div>
	</div>
</div>

<div class="row d-flex justify-content-center">
	<div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <div class="view view-first">
                <%= image_tag("baby.svg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0">
	            Lucien - Mentor
	        </h3>
	        <p> Il n'est jamais content. </p>
	    </div>
   		</div>
	</div>

</div>

</div>