 <div class="container">
 	<div class="section-title section-title--style-1 text-center mb-2">
    <h1 class="police_logo section-title-center mt-5">
        <span> Rencontrez l'équipe Badaboum !</span>
     </h1>
 </div>

 <div class="row">
    <div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <%= image_tag("maxime.jpg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0 text-center">
	            Max
	        </h3>
	        <p class= "text-center"> @MaximeSperoni </p>
	    </div>
   	</div>

	 <div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <%= image_tag("claudia.jpg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0 text-center">
	            Clodiap
	        </h3>
	        <p class= "text-center"> @Claudia </p>
	    </div>
	</div>

	 <div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <%= image_tag("viviane.jpg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0 text-center">
	            Vivi
	        </h3>
	        <p class= "text-center"> @VivianedePetigny </p>
   		</div>
	</div>

</div>

<div class="row d-flex justify-content-center">
	<div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <%= image_tag("bastien.jpg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0 text-center">
	            Babass
	        </h3>
	        <p class= "text-center"> @BastienHiel </p>
   		</div>
	</div>

	<div class="col-lg-4 mb-5 mt-5 ">
        <div class="card z-depth-2-top ">
            <div class="card-image">
                <%= image_tag("melanie.jpg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0 text-center">
	            Apouille
	        </h3>
	        <p class= "text-center"> @Mélanie </p>
   		</div>
	</div>
</div>

<div class="row d-flex justify-content-center">
	<div class="col-lg-4 mb-5 mt-5">
        <div class="card z-depth-2-top">
            <div class="card-image">
                <%= image_tag("lucien.jpg", class: "Icon 1") %>
            </div>
        </div>

	    <div class="card-body">
	        <h3 class="heading heading-5 strong-500 mb-0 text-center">
	            Lucien - Mentor
	        </h3>
	        <p class="text-center"> @Lucien </p>
	    </div>
	</div>

</div>

</div>