<h3 class="heading heading-6 strong-600 text-uppercase mt-5"> Mes reservations à récupérer</h3>
	
	<div class="row mb-3 mt-3">
		<div class="card col-12 ">
			   <div class="table-responsive">
            <table class="table table-hover mb-0" >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Photo</th>
                  <th>Produit</th>
                  <th>Vendeur</th>
                  <th>Noter le vendeur</th>
                  <th>Statut</th>
                  <th>Deadline</th>
                </tr>
              </thead>
              <tbody>
             <% @buyer_reservations.each do |reservation|%>
                <tr>
                  <td><a class="navi-link" data-toggle="modal"><%=reservation.id%></a></td>
                  <td class="product-image">  <% if reservation.product.pictures.attached? %>
                        <%= image_tag reservation.product.pictures.first.variant(resize:'100x100'), alt:reservation.product.title %>
        								<% else %>
        								<%= image_tag("shoes.jpg", alt:reservation.product.title,size: "50") %>
        								<% end %><br>
                      </td>
                      <td>
                  <strong><%=reservation.product.title%></strong><br>
                  	<%=reservation.updated_at.strftime("%b %d, %Y")%><br>
                  	<span style="color:#45b1b4;">Prix : <%=reservation.product.price%> €</span><br></td>
                  </td>

                  <td><strong><%=reservation.product.seller.profile.first_name%>
                  	<%=reservation.product.seller.profile.last_name%></strong> <br>



                    <% if user_signed_in? %>
                       <% unless current_user.id == reservation.product.seller.id %>
                        <%= link_to 'Contacter le vendeur', conversations_path(sender_id: current_user.id, recipient_id: reservation.product.seller.id), method: 'post'%>
                      <% end %>
                    <% end %>


                  




                  	<%=reservation.product.seller.profile.phone_number%><br>
                  </td>
                  <td>

                  <%= form_tag order_path(reservation.id, status:'confirmation'),  method: :put , multipart: true do %>
                   <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio1" value="1">
                      <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio2" value="2">
                      <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio3" value="3">
                      <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>  
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio4" value="4">
                      <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>  
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio5" value="5">
                      <label class="form-check-label" for="inlineRadio5">5</label>
                    </div>        
                  <%= submit_tag "Valider la commande", class: "btn btn-primary mt-3 mb-3" %>
                  <%end%>
                 </td>
                  <td>
                    <span class="badge badge-warning m-0">A récupérer avant le <%=(reservation.updated_at+30.days).strftime("%d-%m-%Y")%></span>
                  </td>
                  <td>
                  <%=link_to "Annulation", order_path(reservation.id, status:'cancellation_request'), method: :patch, class:"btn btn-danger" %><br>
                  </td>
                </tr>
               <%end%>
              </tbody>
            </table>
             </div>
        </div>	
	</div>


