<h3 class="heading heading-6 strong-600 text-uppercase mt-5"> Mes reservations à récupérer</h3>
	
	<div class="row mb-3 mt-3">
		<div class="card col-12 ">
			 
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Photo</th>
                  <th>Produit</th>
                  <th>Vendeur</th>
                  <th>Noter le vendeur</th>
                  <th>Statut</th>
                  <th>Deadline</th>
                </tr>
              </thead>
              <tbody>
             <% @paid_orders.each do |paid_order|%>
                <tr>
                  <td><a class="navi-link" data-toggle="modal"><%=paid_order.id%></a></td>
                  <td class="product-image">  <% if paid_order.product.pictures.attached? %>
                        <%= image_tag paid_order.product.pictures.first.variant(resize:'100x100'), alt:paid_order.product.title %>
        								<% else %>
        								<%= image_tag("shoes.jpg", alt:paid_order.product.title,size: "50") %>
        								<% end %><br>
                      </td>
                      <td>
                  <strong><%=paid_order.product.title%></strong><br>
                  	<%=paid_order.updated_at.strftime("%b %d, %Y")%><br>
                  	<span style="color:#45b1b4;">Prix : <%=paid_order.product.price%> €</span><br></td>
                  </td>

                  <td><strong><%=paid_order.product.seller.profile.first_name%>
                  	<%=paid_order.product.seller.profile.last_name%></strong> <br>
                   <%=link_to "Contacter le vendeur ", root_path %><br>
                  	<%=paid_order.product.seller.profile.phone_number%><br>
                  </td>
                  <td>

                  <%= form_tag order_path(paid_order.id, status:'completed'),  method: :put , multipart: true do %>
                   <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio1" value="1">
                      <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio2" value="2">
                      <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio3" value="3">
                      <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>  
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio4" value="4">
                      <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>  
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="notation" id="inlineRadio5" value="5">
                      <label class="form-check-label" for="inlineRadio5">5</label>
                    </div>        
                  <%= submit_tag "Valider la commande", class: "btn btn-primary mt-3 mb-3" %>
                  <%end%>
                 </td>
                  <td>
                    <span class="badge badge-warning m-0">A récupérer dans les 30 jours</span>
                    <div class="countdown countdown-sm" data-countdown-date="<%=deadline(paid_order)%>" data-countdown-label="show"></div>
                  </td>
                  <td>
                  <%=link_to "Annulation", order_path(paid_order.id, status:'disputed'), method: :patch, class:"btn btn-danger" %><br>
                  </td>
                </tr>
               <%end%>
              </tbody>
            </table>
             
        </div>	
	</div>
