<div role="tabpanel" class="tab-pane" id="tabThree-3">

  <div class="tab-body">
    <h3 class="heading heading-3 strong-400 mb-4">Méthode de paiement</h3>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="radio">
                        <input type="radio" name="radioPayment" id="radioPayment_1" checked="">
                        <label class="heading heading-6 strong-600" for="radioPayment_1">Carte de Crédit</label>
                    </div>
                    <p class="c-gray-light mt-2 pl-4">
                        Nos transactions sont sécurisés par notre partenaire de paiement Stripe.
                    </p>
                </div>

                <!-- Bloc carte bleu -->
                <div class="col-lg-4 text-lg-right">
                  <%= image_tag "mastercard.png" ,size:'40px', class:"mr-2" %>
                  <%= image_tag "visa.png" ,size:'40px', class:"mr-2" %>
              </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <a href="/" class="link link--style-3">
                        <i class="fas fa-long-arrow-left"></i>
                            <- Retourner à la boutique
                    </a>
                </div>
                <div class="col-6">
                    <%= form_tag charges_path do %>
                        <article>
                            <% if flash[:error].present? %>
                                <div id="error_explanation">
                                    <p><%= flash[:error] %></p>
                                </div>
                            <% end %>
                            <label class="amount">
                                <p class="c-gray-light mt-2 pl-4">Total :  <%=@product.price%> €</p>
                            </label>
                        </article>
                        <script src="https://checkout.stripe.com/checkout.js"  class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:stripe_publishable_key] %>"
                              data-description="Acheter ce produit"
                              data-currency="eur"
                              data-label="Poser une option sur ce produit"
                              data-amount="<%= @product.price*100 %>"
                              data-locale="auto">
                        </script>
                    <% end %>
                   
                </div>
                   <p class="c-gray-light mt-2 pl-4">
                  Vous ne serez débité que lorsque vous aurez récupéré votre produit et confirmé la commande
                    </p>
               
            </div>
        </div>
    </div>
</div>
</div>

