<div class="card col-lg-3 my-5">
    <h3 class="heading heading-3 strong-400 mx-5 mb-4 text-center">Mon vendeur</h3>

        <div class="profile-picture profile-picture--style-2">
            <% if @product.seller.profile.profil_picture.attached? %>
                <%= image_tag @product.seller.profile.profil_picture, alt: 'Photo du vendeur' %>
            <% else %>
                <%= image_tag("profile-default.png") %>
            <% end %>
        </div>

        <div class="block-body text-center">
            <h2 class="heading heading-4 strong-500 profile-name">
                <%= @seller_profile.first_name.present? ? @seller_profile.first_name : " " %>
                <%= @seller_profile.last_name.present? ? @seller_profile.last_name : " " %>
            </h2>

             <% if has_notation?(@product.seller)%>
                                     <ul class="list-unstyled">
                                        <li>
                                         <% average_notation(@product.seller).to_i.times do  %>
                                        <span class="text-primary"><i class="fas fa-star"></i></span>
                                        <% end %>
                                        <% (5 - average_notation(@product.seller).to_i).times do %>
                                        <span class="text-primary"><i class="far fa-star"></i></span>
                                        <% end %>

                                        </li>
                                    </ul>
            <%end%>

            <p class="heading heading-6 strong-400  profile-occupation mt-3"><%= @seller_profile.description.present? ? @seller_profile.description : "Description non renseignée" %></p>

            <% if user_signed_in? %>
                <% unless current_user.id == @product.seller.id %>
                    <%= link_to 'Envoyer un message', conversations_path(sender_id: current_user.id, recipient_id: @product.seller.id), method: 'post', class:"btn btn-base-1 btn-shadow btn-circle px-4 mt-2"%>
                <% end %>
            <% end %>
        </div>
                    <!-- Profile stats -->

        <div class="profile-stats clearfix">
            <div class="stats-entry">
                <span class="stats-count"><%= @seller_products.length %></span>
                <span class="stats-label text-uppercase">objets en vente</span>
            </div>

        <div class="stats-entry">
            <span class="stats-count">10</span>
            <span class="stats-label text-uppercase">objets vendus</span>
        </div>
        </div>
</div>
