<div class="container mt-5 mb-5">
	<h3><i class="far fa-id-card mt-5 "></i> - Index des utilisateurs </h3>
    <div class="container d-flex justify-content-end my-3">
    <%= link_to "Retour à l'espace administrateur", admin_root_path, class:"btn btn-secondary btn-base-1 mb-2" %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Nom </th>
                <th scope="col">Prénom </th>
                <th scope="col">Date d'inscription </th>
                <th scope="col">Email </th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td class="profile-picture user_icon", style="width:80px">
                        <% if user.profile.profil_picture.attached?%>
                        <%= link_to (image_tag user.profile.profil_picture_thumbnail, alt: 'profil_picture'), admin_user_path(user.id), class:"mt-3" %>
                        <% else %>
                        <%= link_to (image_tag "profile-default.png"), admin_user_path(user.id), class:"mt-3" %>
                        <% end %>
                    </td>
                    <td ></td>
                    <td ><%= user.id %></td>
                    <td><%= user.profile.present? ? user.profile.last_name : "N#A" %> </td>
                    <td><%= user.profile.present? ? user.profile.first_name : "N#A" %> </td>
                    <td><%= user.created_at.strftime("%d/%m/%Y")%> </td>
                    <td><%= user.email %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>


