<%= form_tag url_for(action: 'create'), method: "post", multipart: true do %>
        <div class="form-group">
            <h5 class="text-primary">1. Quel est votre produit ?</h5>
            <%= text_field_tag 'title', @product.title, class: "form-control mb-3", placeholder: "Titre" %>
            <%= text_area_tag 'description', @product.description, class: "form-control mb-3", placeholder: "Description" %>
            <h5 class="text-primary">2. Indiquez quelques caractéristiques...</h5>
            <%= text_field_tag 'price', @product.price, class: "form-control mb-3", placeholder: "Prix" %>
            <%= text_field_tag 'brand', @product.brand, class: "form-control mb-3", placeholder: "Marque" %>
            <%= text_field_tag 'color', @product.color, class: "form-control mb-3", placeholder: "Couleur" %>
            <%= text_field_tag 'size', @product.size, class: "form-control mb-3", placeholder: "Taille" %>
            <h5 class="text-primary">3. Choisissez une catégorie</h5>
            <%= select_tag 'category', options_for_select(@categories.collect{|category|[category.title, category.id]}), class: "form-control mb-3" %>
            <h5 class="text-primary">4. Sélectionnez l'ensemble de vos images</h5>
            <%= file_field_tag 'pictures[]', :multiple => true,  class: "form-control mb-3"%>
            <%= submit_tag "Ajouter mon produit", class: "btn btn-primary" %>
        </div>
    <% end %>   
    <% if @product.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <p>Nous n'avons pas réussi à enregistrer votre produit pour la (ou les) raison(s) suivante(s) :</p>
            <ul>
                <% @product.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>