<!-- page show.html.erb - tabs -->
<div class="tab-pane active" id="tab_default_1">
    <div class=" py-2">

        <div class="row">
            <div class="col-md-5">

                <div class="block block--style-3 mx-5">
                    <div class="profile-picture profile-picture--style-2">

                        <% if @product.seller.profile.profil_picture.attached? %>
                          <%= image_tag @product.seller.profile.profil_picture_thumbnail, alt: 'Photo du vendeur' %>
                        <% else %>
                           <%= image_tag("profile-default.png") %>
                        <% end %>
                    </div>

                    <div class="block-body text-center">
                        <h2 class="heading heading-4 strong-500 profile-name">
                            <%= @seller_profile.first_name.present? ? @seller_profile.first_name : " " %>
                            <%= @seller_profile.last_name.present? ? @seller_profile.last_name : " " %>
                        </h2>
                        <span class="star-rating star-rating-sm">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                           <p class="heading heading-6 strong-400  profile-occupation mt-3"><%= @seller_profile.description.present? ? @seller_profile.description : "Description non renseignée" %></p>

                        <a href="#" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Envoyer un message</a>
                    </div>
                    <!-- Profile stats -->
                    <div class="profile-stats clearfix">
                        <div class="stats-entry">
                            <span class="stats-count"><%= @seller_products.where("status = 1").count%></span>
                            <span class="stats-label text-uppercase">objets en vente</span>
                        </div>
                        <div class="stats-entry">
                            <span class="stats-count"><%= @seller_products.where("status = 2").count%></span>
                            <span class="stats-label text-uppercase">objets vendus</span>
                        </div>
                    </div>
                </div>

            </div> <!-- col -->

            <div class="col-md-7">

                <div class="text-center my-3">
                    <h3>Ses autres produits</h3>
                </div>
                <div class="row">

                    <% if @seller_products.length <= 1  %>

                        <p>Pas d'autres produits</p>

                    <% else %>

                        <% @seller_products.last(6).each do |product| %>

                            <% unless product == @product %>

                                <div class="col-lg-4 mb-5">
                                    <div class="card z-depth-2-top">
                                        <div class="card-image">
                                            <div class="view view-first">
                                                <% if product.pictures.attached? %>
                                                  <%= link_to (image_tag product.pictures.first.variant(resize:'300x300'), alt: 'Photo du produit'), product_path(product.id) %>
                                                <% else %>
                                                   <%= link_to (image_tag("shoes.jpg")), product_path(product.id) %>
                                                <% end %>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <h3 class="heading heading-5 strong-500 mb-0">
                                                <%= link_to product.title, product_path(product.id) %>
                                            </h3>
                                        </div>

                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="price-wrapper">
                                                        <span class="price heading-6 c-gray-light strong-400"><span class="price-value"><%= product.price %></span> €</span>
                                                    </div>
                                                </div>
                                                <% if user_signed_in? %>
                                                     <%if  product_is_already_wishlist?(product) %>
                                                           <div class="col text-right"data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Retirer à ma baby-list" id="toggle_wish_<%=product.id%>">

                                                             <%= link_to  '<span style="color: Tomato;"><i class="fas fa-heart"></i></span>'.html_safe, wishlist_product_path(transform_product_to_wishlist_product(product),:product => product), method: :delete, :class => "toggle_wish", remote: true %>
                                                             </div>
                                                    <%else%>
                                                        <div class="col text-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ajouter à ma baby-list" id="toggle_wish_<%=product.id%>">

                                                            <%= link_to  '<i class="far fa-heart"></i>'.html_safe, wishlist_products_path(:product => product), method: :post, :class => "toggle_wish", remote: true %>

                                                            </div>
                                                     <%end%>
                                                <%else%>
                                                 <%= link_to '<i class="fas fa-heart"></i>'.html_safe, wishlist_products_path, class:"text-primary mr-3" %>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <% end %>

                        <% end %>

                    <% end %>

                </div>
            </div>


        </div> <!-- row -->

    </div>
</div>
