  <div class="col-lg-3 order-lg-1">
    <div class="sidebar sidebar--style-4 b-lg-right">
    <%= form_tag url_for(action: 'index'), method: "get" do %>
		  <% if false %> 
			<%= render 'sidebar_city' %>
			
			  
			   
			<%= render 'sidebar_material' %>
			<% end %>

			<%= render 'sidebar_cat' %>
			<%= render 'sidebar_price' %>
			<%= render 'sidebar_size' %>
			<%= render 'sidebar_color' %>


	 		<%= submit_tag "Filtrer", class: "btn btn-styled btn-block btn-base-4" %>

	 <% end %>
	</div>
</div>