  <div class="col-lg-3 order-lg-1">
    <div class="sidebar sidebar--style-4 b-lg-right">

	    
	<%= render 'sidebar_city' %>
	<%= render 'sidebar_cat' %>
	<%= render 'sidebar_size' %>   
	<%= render 'sidebar_color' %>   
	<%= render 'sidebar_material' %>  
	<%= render 'sidebar_price' %>  
	 
	 <a href="#" class="btn btn-styled btn-block btn-base-4">Reset filters</a>
	</div>
</div>