<!DOCTYPE html>
<html>
  <head>
    <title>BasicRubyFile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 
  </head>

  <body>
   <%= render 'layouts/header' %>

  
    <%= render 'layouts/flash'%>

    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
